* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
main {
  padding: 0 2rem;
}
h1 {
  margin-bottom: 1rem;
  text-align: center;
}
header,
footer {
  background-color: bisque;
  padding: 1rem;
}
footer {
  background-color: aquamarine;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 3rem;
}
